#links-container {
  display: flex;
}

tr {
  min-height: 100vw;
}
#mytitle {
  font-size: 2vw;
  font-weight: lighter;
  color: #a7dbd8;
}

td > div {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 10vw;
  max-width: 10vw;
  margin: 1vw;
}

td > div:hover {
  box-shadow: 0 0 20px #f38630;
  -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  cursor: pointer;
  filter: none;
}

a img {
  max-height: 3vw;
  max-width: 3vw;
  filter: drop-shadow();
}

#name {
  font-size: 5vw;
  font-weight: bold;
  color: #69d2e7;
}
