.App {
  display: flex;
  flex-direction: row;
  background-image: url("./images/bg5.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image {
  height: 100%;
  width: 100%;
}
#left-half {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sun1 {
  left: 85vw !important;
  top: 2vw !important;
}

#note1 {
  left: 60vw !important;
  top: 10vw !important;
}

#note2 {
  left: 60vw !important;
  top: 70vh !important;
  z-index: 4;
  height: 5vh;
}

#left-half > div:nth-child(2) {
  transform: translateX(-22vmin) translateY(-23vmin);
}

#right-half {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#para {
  position: absolute;
}

#para > div > img {
  height: 10vw;
  width: 10vw;
}
